@tailwind base;
@tailwind components;
@tailwind utilities;
*,html {
  scroll-behavior: smooth;
}
.intro {
  height: 450px;
  /* display: flex; */
  background-repeat: no-repeat;
  /* justify-content: end;
  align-items: end; */
}

.button {
  /* background-color: blue; */
  margin-right: 500px;
  color: white;
  width: 400px;
  height: 50px;
  border-radius: 1.5rem  24px ;
}

.myBg {
  background-image: url("../assets/image/wowa.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Untuk mengatur ukuran gambar agar mencakup seluruh area */
  background-position: center;

}

.myNavbar {
  height: 100vh;
  background: url("../assets/image/wowa.jpg");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

.nama {
  height: auto;
  background: url("../assets/image/wowa1.jpg");
  background-size: cover;
  /* display: flex; */
  padding: 5px;
}


.Navbar {
  background-color: black;
  height: 50px;
  color: wheat;
  display: flex;
}

.Isi {
  width: 100%;
  display: flex;
}

.Halaman {
  width: 100%;
  display: flex;
  
}
.tulisan {
  font-size: x-small;
  color: rgb(234, 2, 2);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;

}

.Foot {
  background-color: #1b81f7;
  list-style-type: lower-roman;
}

.img {
  background: url("/hmm.jpg");
}
.Foot {
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  
}

.Foot1 img {
  width: 30px;
  height: 30px;
}
.Foot1 {
  margin: 4px;
  gap: 6px;
}

.Foot2 {
  margin: 4px;
  gap: 3px;
}
.Foot2 img {
  width: 30px;
  height: 30px;
}
.Halaman1 {
  background-color: white;
  width: 490px;
  border-radius: 0.5rem  8px ;
  display: flex;
  flex-wrap: wrap;
}
.Halaman2 {
  background-color: white;
  width: 490px;
  border-radius: 0.5rem  8px ;
  display: flex;
  flex-wrap: wrap;
}

.Halaman3 {
  background-color: white;
  width: 490px;
  border-radius: 0.5rem  8px ;
  display: flex;
  flex-wrap: wrap;
}

.Halaman4 {
  background-color: white;
  width: 490px;
  border-radius: 0.5rem  8px ;
  display: flex;
  flex-wrap: wrap;
}

.Halaman5 {
  background-color: white;
  width: 490px;
  border-radius: 0.5rem  8px ;
  display: flex;
  flex-wrap: wrap;
}


